<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Secret Code</title>
  </head>
  <body>
    <div class="container">
      <% if (locals.currentUser) { %>
      <div class="form-container admin-code">
        <h3 class="form-title">Admin Secret Code</h3>
        <form action="/adminCode/<%= currentUser.username %>" method="post">
          <label>
            Admin Code *
            <input
              type="text"
              name="adminCode"
              placeholder="Enter Secret Code"
              autocomplete="off"
              required
            />
          </label>
          <button class="form-btn">Submit</button>
        </form>
      </div>
      <a href="/">Skip</a>
      <% } %>
    </div>
  </body>
</html>
