<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join The Club</title>
  </head>
  <body>
    <div class="container">
      <div class="form-container join">
        <h3 class="form-title">Membership Secret Code</h3>
        <form action="/join/userId" method="post">
          <label>
            Passcode
            <input
              type="text"
              name="passcode"
              placeholder="Enter Secret Passcode"
              required
            />
          </label>
          <button class="form-btn">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
