<div class="align-s-c">
  <div class="form-container login">
    <h2 class="form-title">fenxmi<span class="logo-t">t</span></h2>
    <form action="/login" method="post">
      <label>
        Username
        <input type="text" name="username" autocomplete="off" required />
      </label>
      <label>
        Password
        <input type="password" name="password" required />
      </label>
      <button class="form-btn login-btn">Log in</button>
    </form>
    <div class="form-redirect">
      Don't have an account?
      <a href="/sign-up" class="a-btn">Signup</a>
    </div>
    <% if (locals.error) { %>
    <div class="form-error"><%= error %></div>
    <% } %>
  </div>
</div>
<div></div>
